<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/character.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel='stylesheet' href='/stylesheets/information.css' />
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script type='text/javascript' src='javascripts/jquery.js'></script>
    <script type='text/javascript' src='javascripts/PlayingTimer.js'></script>
    <script type='text/javascript' src='javascripts/Word.js'></script>
    <script type='text/javascript' src='javascripts/questionManager.js'></script>
    <script type='text/javascript' src='javascripts/questionController.js'></script>
    <script type='text/javascript' src='javascripts/viewController.js'></script>
    <script type='text/javascript' src='javascripts/AudioManager.js'></script>

    <script type='text/javascript'>
    $(function(){

	var timer = new PlayingTimer();

        var vController = new viewController();

	var aManager = new AudioManager();

	vController.initView();

	var qManager = new questionManager();

	var qController = new questionController( qManager, vController, aManager );
	qController.timer = timer;

	$(window).keyup(function(e){

	    if( e.keyCode == 13){  // start
		qController.start();
	    };
	    qController.judge( e.keyCode );
	});	

	$('#teamAButton').click( function(){ qController.setTeam( 'a' ); vController.playingView( 'a' ); }  );
	$('#teamBButton').click( function(){ qController.setTeam( 'b' ); vController.playingView( 'b' ); }  );

	var socket = io.connect('http://<%= host %>/');
	socket.on('connect', function(){
	    console.log('connected');
	});

	socket.on('changed', function( receiveData ){
	    var tmp = receiveData.split(',');
	    if(( tmp[3] ) && ( tmp[3] == 'finished' ) ){
		vController.finished( tmp[0], tmp[4] );
	    }else{
		if( tmp[0] != qController.getTeam() ){
		    vController.setGraph( tmp[0], qManager.progressLabel( tmp[1] ), qManager.progressValue( tmp[1], tmp[2] ) );
		    var word = qManager.getWordAtIndex( tmp[1] );
		    vController.setWord(tmp[0], word, tmp[2]);
		}
	    }
	});

	qController.socket = socket;

	vController.setGraph( 'a', qManager.progressLabel( 0 ), 0 );
	vController.setGraph( 'b', qManager.progressLabel( 0 ), 0 );

	// develop view
//	qController.setTeam( 'b' );
//	vController.playingView();

    });

    </script>
  </head>

  <body>


<div id='baseContainer'>
  

<div id='teamSelector'>
<img src='/images/character_1.png' alt='character 1' class='character' id='start_chara1'>
<img src='/images/character_2.png' alt='character 2' class='character' id='start_chara2'>
<img src='/images/rabbit.png' alt='rabbit' class='character' id='start_rabbit'>

<img src='/images/logo.png' alt='Battle Typing Logo'>

<div id='teamSelectorInformation'>Select Team A or B! </div>
<ul id='teamList'>
<li>    <a href="#" class="css_btn_class" id='teamAButton'>Team A</a>
<li>    <a href="#" class="css_btn_class" id='teamBButton'>Team B</a>
</ul>
</div>


  <div id='playingArea'>
    <div id='filter'></div>

    <img src='/images/indicator.png' class='information' id='indicator'>
    <img src='/images/opponents.png' class='information' id='opponents'>
    <img src='/images/ruby.png' class='information' id='ruby_info'>
    <img src='/images/timer.png' class='information' id='timer'>
    <img src='/images/word.png' class='information' id='word_info'>

    <img src='/images/enter_to_play.png' class='information' id='enter'>

    <div id='playingHeader'>
      <div id='graphs'>
	<div id='graph_a' class='graph'><span id='graphbar_a' class='graphbar'></span><span id='finished_time_a'></span></div>
	<div id='graph_b' class='graph'><span id='graphbar_b' class='graphbar'></span><span id='finished_time_b'></span></div>
      </div>
      <div id='timerDiv'>0</div>
      <span STYLE='clear:both'/>
    </div>

    <div id='teams'>
      <div class='team'>
	<h2>Team A</h2>
	<div id='word_word_a' class='word'></div>
	<div id='word_ruby_a' class='ruby'></div>
      </div>
      
      <div class='team'>
	<h2>Team B</h2>
	<div id='word_word_b' class='word'></div>
	<div id='word_ruby_b' class='ruby'></div>
      </div>
      <br STYLE='clear:both' />
    </div>
  </div>
</div>

  </body>
</html>
