<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script type='text/javascript' src='javascripts/jquery.js'></script>
    <script type='text/javascript' src='javascripts/PlayingTimer.js'></script>
    <script type='text/javascript' src='javascripts/Word.js'></script>
    <script type='text/javascript' src='javascripts/questionManager.js'></script>
    <script type='text/javascript' src='javascripts/questionController.js'></script>
    <script type='text/javascript' src='javascripts/viewController.js'></script>

    <script type='text/javascript'>
    $(function(){

	var timer = new PlayingTimer();

        var vController = new viewController();

	vController.initView();

	var qManager = new questionManager();

	var qController = new questionController( qManager, vController );
	qController.timer = timer;

	$(window).keyup(function(e){
	    qController.judge( e.keyCode );
	});	

	$('#teamAButton').click( function(){ qController.setTeam( 'a' ); vController.playingView(); }  );
	$('#teamBButton').click( function(){ qController.setTeam( 'b' ); vController.playingView(); }  );

	var socket = io.connect('http://localhost:3000');
	socket.on('connect', function(){
	    console.log('connected');
	});

	socket.on('changed', function( receiveData ){
	    var tmp = receiveData.split(',');
	    if(( tmp[3] ) && ( tmp[3] == 'finished' ) ){
		vController.finished( tmp[0], tmp[4] );
	    }else{
		if( tmp[0] != qController.getTeam() ){
		    vController.setGraph( tmp[0], qManager.progressLabel( tmp[1] ), qManager.progressValue( tmp[1] ) );
		    var word = qManager.getWordAtIndex( tmp[1] );
		    vController.setWord(tmp[0], word, tmp[2]);
		}
	    }
	});

	qController.socket = socket;

	var word = qController.currentWord();
	vController.setWord('a', word, 0);
	vController.setWord('b', word, 0);
	vController.setGraph( 'a', qManager.progressLabel( 0 ), 0 );
	vController.setGraph( 'b', qManager.progressLabel( 0 ), 0 );

    });

    </script>
  </head>

  <body>
    TEST Page.

<div id='teamSelector'>
    <label><input id='teamAButton' type='radio' value='a' name='team' >team A</label>
    <br>
    <label><input id='teamBButton' type='radio' value='b' name='team' >team B</label>

</div>

<div id='playingArea'>
<div id='timerDiv'>0</div>
<h2>Team A</h2>
<div class='team'>
<div id='graph_a' class='graph'><span id='graphbar_a' class='graphbar'></span></div>
<div id='word_word_a' class='word'></div>
<div id='word_ruby_a' class='ruby'></div>
<div id='finished_time_a'></div>
</div>


<h2>Team B</h2>
<div class='team'>
<div id='graph_b' class='graph'><span id='graphbar_b' class='graphbar'></span></div>
<div id='word_word_b' class='word'></div>
<div id='word_ruby_b' class='ruby'></div>
<div id='finished_time_b'></div>
</div>
</div>

  </body>
</html>
