<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <script type='text/javascript' src='javascripts/jquery.js'></script>
    <script type='text/javascript' src='javascripts/Word.js'></script>
    <script type='text/javascript' src='javascripts/questionController.js'></script>
    <script type='text/javascript' src='javascripts/viewController.js'></script>
    <script type='text/javascript' src='javascripts/Mediator.js'></script>

    <script type='text/javascript'>
    $(function(){
        var vController = new viewController();
	var mediator = new Mediator( vController );

	var qController = new questionController( mediator );
	mediator.qController = qController;

	$(window).keyup(function(e){
	    qController.judge( e.keyCode );
	});	
    });
    </script>
  </head>

  <body>
    TEST Page.
<div class='team'>
<div id='judge'></div>
<div id='score_a' class='score'></div>
<div id='word_word_a' class='word'></div>
<div id='word_ruby_a' class='ruby'></div>
</div>
  </body>
</html>
