div{
}

body{
    background-image : url( '/images/texturez_4065_s.jpg' );
    background-size : 100%;
}

#baseContainer{
    margin : 0 auto;
/*    border : 1px solid gray; */
    padding : 10px 0px;
}


div.word{
    background-color : #aaf
}

div.ruby{
    background-color : #afa;
}

#teamSelector{
    text-align : center;
    margin-left : auto;
    margin-right : auto;
    border : 3px double gray;
    background-color : #ddd;
    width : 1000x;
    height : 450px;
}

#teamSelectorInformation{
    font-size : 40pt;
    font-family : Arial;
    margin : 5px 0px 30px 0px;
}


#teamList li{
    display : inline;
    margin : 5px 20px;
}

/* graph and play */

div#playingHeader{
    width : 860px;
    height : 120px;
    margin : 0px 20px;
    padding-top : 20px;
    padding-left : 20px;
    padding-bottom : 30px;
    margin-bottom : 30px;
    background-color : white;
}


/* graph */
div.graph{
    float: left;
    border : 1px solid gray;
    padding : 0px;
}

div#graphs{
    height : 120px;
}

.graph_title{
    width : 60px;
    height: 40px;
    float: left;
    background-color: #eee;
    line-height : 40px;
}

.graph{
    position: relative; /* IE is dumb */
    height: 40px;
    line-height : 2em;
    padding : 0px;
    margin : 0px auto 0px 0px;
    width : 500px;
}

.graphBlock{
    margin : 10px 0px 20px 0px;
}

.graphbar{
    display : block;
    position : relative;
    width : 550px;
    color : black;
    background-color : #f88;
    height : 40px;
    margin : 0px 0px 0px 0px;
}

.graph .graphbar span{
    position : absolute;
    left : 20px;
}

.time_result{
    float:left;
    border : 1px solid #666;
    width : 70px;
    height: 40px;
    margin-left : 40px;
    line-height : 40px;
    text-align : center;
}


/* team css */

div#teams{
    margin : 0px 20px;
    width : 880px;
}

div.team{
    width : 394px;
    height : 300px;
    float : left;
    border : 3px double gray;
    border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */  
    margin : 0px 20px;
    padding : 0px;
    background-color : white;
}

div.team h2{
    width : 100%;
    text-align : center;
    margin-left : auto;
    margin-right : auto;
}

div.team div.word{
    text-align : center;
}


div#timerDiv{
    width : 120px;
    height : 90px;
    margin-top : 10px;
    margin-left : 30px;
    float : left;
    text-align : right;
    vertical-align : bottom;
    display : inline;
    border : 4px double blue;
    font-size : 40px;
    text-align : center;
    line-height : 90px;
}

div.word{
    height : 100px;
}

div.ruby{
    height : 100px;
}

div#filter{
    position : absolute;
    width : 1000px;
    height : 1000px;
    background-color : #777;
    filter: alpha(opacity=60);
    -moz-opacity:0.60;
    opacity:0.60;
}

img.icon{
    position : absolute;
    height : 40px;
}