img.character{
    position : absolute;
}

#start_chara1{
    margin-top : 230px;
    margin-left : 20px;
}

#start_chara2{
    margin-top : 270px;
    margin-left : 620px;
}

#start_rabbit{
    margin-top : 350px;
    margin-left : -80px;
}