img.information{
    position : absolute;
}

#indicator{
    margin: 70px 0px 0px 180px;
}

#opponents{
    margin: 340px 0px 0px 540px;
}

#timer{
    margin: 80px 0px 0px 750px;
}

#word_info{
    margin: 270px 0px 0px 100px;
}

#ruby_info{
    margin: 360px 0px 0px 100px;
}

#enter{
    margin: 520px 0px 0px 350px;
}
